@model CoreMVC_WebApi_Test.Models.Publisher

@{
    ViewData["Title"] = "Edit Publisher";
}

<h1>View</h1>

<h4>Publisher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View" id="validForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PubId" />
            <div class="form-group">
                <label asp-for="PubName" class="control-label"></label>
                <input asp-for="PubName" class="form-control" />
                <span asp-validation-for="PubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

    $('#validForm').submit(function (e) {

        // предовратить отправку формы
        e.preventDefault();

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/Publishers/' + $('#PubId').val(),
            method: "PUT",
            data: JSON.stringify({
                pubId: $('#PubId').val(),
                pubName: $('#PubName').val(),
                city: $('#City').val(),
                state: $('#State').val(),
                country: $('#Country').val(),
            }),
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            beforeSend: function (xheader) {
                var token = sessionStorage.getItem(tokenKey);
                xheader.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data) {
                console.log(data);
                document.location.href = "/Home/Publishers";
            },
            error: function (data) {
                onError(data);
            }
        })
    });

    function onError(data) {
        console.log(data);
        //alert(data);

        // скрыть все ошибки, показанные на предыдущем шаге валидации
        $("input").removeClass('input-validation-error');
        $("select").removeClass('input-validation-error');
        $("span[data-valmsg-for]").removeClass('field-validation-error');
        $("span[data-valmsg-for]").addClass('field-validation-valid');
        $("span[data-valmsg-for]").text("");

        // если произошла ошибка валидации
        if (data.status == 400) {
            console.log(data.responseJSON);

            // перебрать все полученные ошибки валидации
            //$.each(data.responseJSON.ModelState, function (key, value) {
            $.each(data.responseJSON.errors, function (key, value) {
                //key = key.split('.')[1];

                console.log(key);
                console.log(value);

                // выделить текстовое поле с ошибкой
                var filter = "input[name='" + key + "']";
                $(filter).addClass('input-validation-error');

                // показать сообщение об ошибке для каждого текстового поля с ошибкой
                var validationMessageElement = $('span[data-valmsg-for="' + key + '"]');
                validationMessageElement.removeClass('field-validation-valid');
                validationMessageElement.addClass('field-validation-error');
                validationMessageElement.text(value[0]);
            });
        }
    }
</script>
